<a href="https://colab.research.google.com/github/ravi02512/AM-Expert-Analytics-Vidhya-Hackathon/blob/master/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [0]:
# One-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category = True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

In [0]:
import numpy as np 
import pandas as pd

In [0]:
customer_demo=pd.read_csv('/content/gdrive/My Drive/train_AUpWtIz/train_AUpWtIz/customer_demographics.csv')
customer_demo.head()

   customer_id age_range  ... no_of_children  income_bracket
0            1       70+  ...            NaN               4
1            6     46-55  ...            NaN               5
2            7     26-35  ...              1               3
3            8     26-35  ...              2               6
4           10     46-55  ...            NaN               5

[5 rows x 7 columns]

In [0]:
for col in customer_demo.columns:
  print('{} colum has {} uniuqe values'.format(col,customer_demo[col].nunique()))

customer_id colum has 760 uniuqe values
age_range colum has 6 uniuqe values
marital_status colum has 2 uniuqe values
rented colum has 2 uniuqe values
family_size colum has 5 uniuqe values
no_of_children colum has 3 uniuqe values
income_bracket colum has 12 uniuqe values

In [0]:
age=[]
for i in customer_demo.age_range:
  if i=='70+':
    first=70
    second=90
    age.append(np.random.randint(first, second))
  else:
    first=i[:2]
    second=i[3:]
    age.append(np.random.randint(first, second))
    
    
customer_demo['age']=age

In [0]:
marital=[]
for c in range(len(customer_demo)):
    if customer_demo['marital_status'].fillna(0)[c]!=0:
      marital.append(customer_demo['marital_status'][c])
      
    else:
      if customer_demo['family_size'][c]!='1':
        marital.append('Married')
        
      else:
        marital.append('Single')
customer_demo['marital_status']=marital

In [0]:
no_children=[]
for c in range(len(customer_demo)):
  if customer_demo['family_size'][c]!='1':
    if type(customer_demo['no_of_children'][c])!=float:
      no_children.append(customer_demo['no_of_children'][c])
      
    else:
      if customer_demo['marital_status'][c]=='Married':
        
        try:
          a=int(customer_demo['family_size'][c])
          no_children.append(str(a-2))
          
        except:
          a=int(customer_demo['family_size'][c][:1])
          no_children.append(str(a-2)+'+')
      
      elif customer_demo['marital_status'][c]=='Single':
        
        try:
          a=int(customer_demo['family_size'][c])
          no_children.append(str(a-1))
          
        except:
          a=int(customer_demo['family_size'][c][:1])
          no_children.append(str(a-1)+'+')
  else:
    if type(customer_demo['no_of_children'][c])!=float:
      no_children.append(customer_demo['no_of_children'][c])
      
    else:
      no_children.append('0')
    
    
customer_demo['no_of_children']=no_children

In [0]:
for  col in customer_demo.columns:
  print('unique value in {} is {}'.format(col, customer_demo[col].nunique()))

unique value in customer_id is 760
unique value in age_range is 6
unique value in marital_status is 2
unique value in rented is 2
unique value in family_size is 5
unique value in no_of_children is 4
unique value in income_bracket is 12
unique value in age is 67

In [0]:
customer_demo['rented']=customer_demo['rented'].astype('object')
customer_demo['income_bracket']=customer_demo['income_bracket'].astype('object')

In [0]:
[col for col in customer_demo.columns if customer_demo[col].dtype=='object']

['age_range',
 'marital_status',
 'rented',
 'family_size',
 'no_of_children',
 'income_bracket']

In [0]:
import os 
os.chdir('/content/gdrive/My Drive')

In [0]:
customer_trans=pd.read_csv('/content/gdrive/My Drive/train_AUpWtIz/train_AUpWtIz/customer_transaction_data.csv')
customer_trans.head()

         date  customer_id  ...  other_discount  coupon_discount
0  2012-01-02         1501  ...          -10.69              0.0
1  2012-01-02         1501  ...          -13.89              0.0
2  2012-01-02         1501  ...          -14.25              0.0
3  2012-01-02         1501  ...            0.00              0.0
4  2012-01-02         1501  ...          -28.14              0.0

[5 rows x 7 columns]

In [0]:
customer_trans['date']=pd.to_datetime(customer_trans['date'], format='%Y-%m-%d')

In [0]:
customer_trans._get_numeric_data().columns

Index(['customer_id', 'item_id', 'quantity', 'selling_price', 'other_discount',
       'coupon_discount'],
      dtype='object')

In [0]:
for col in customer_trans.columns:
  print('{} column has {} uniuqe value  '.format(col, customer_trans[col].nunique()))

date column has 549 uniuqe value
customer_id column has 1582 uniuqe value
item_id column has 74063 uniuqe value
quantity column has 9252 uniuqe value
selling_price column has 4923 uniuqe value
other_discount column has 1418 uniuqe value
coupon_discount column has 232 uniuqe value

In [0]:
def effective(i):
  a=customer_trans['selling_price'][i] + customer_trans['other_discount'][i] + customer_trans['coupon_discount'][i]
  return round(a,2)

customer_trans['effective_price']=[effective(i) for i  in range(len(customer_trans))]

In [0]:
customer_trans.head()

        date  customer_id  ...  coupon_discount  effective_price
0 2012-01-02         1501  ...              0.0            24.57
1 2012-01-02         1501  ...              0.0            39.54
2 2012-01-02         1501  ...              0.0            92.25
3 2012-01-02         1501  ...              0.0            67.32
4 2012-01-02         1501  ...              0.0            43.10

[5 rows x 8 columns]

In [0]:
customer_trans['date_day']=[i.day for i in customer_trans.date]
customer_trans['date_day']=customer_trans['date_day'].astype('object')

customer_trans['date_month']=[i.month for i in customer_trans.date]
customer_trans['date_month']=customer_trans['date_month'].astype('object')

customer_trans['date_year']=[i.year for i in customer_trans.date]
customer_trans['date_year']=customer_trans['date_year'].astype('object')

In [0]:
customer_trans['day_of_week']=[i.dayofweek for i in customer_trans.date]
customer_trans['week_of_year']=[i.week for i in customer_trans.date]
customer_trans['weekend']=[1 if i>=5 else 0 for i in customer_trans.day_of_week]

In [0]:
helper=[]
for i in customer_trans.date_day:
  if i>10 and i<20:
    helper.append('mid')
    
  elif i>20:
    helper.append('end')
    
  else:
    helper.append('start')


customer_trans['month_info']=helper

In [0]:
customer_trans.drop('date', axis=1, inplace=True)

In [0]:
customer_trans['weekend']=customer_trans['weekend'].astype('object')
customer_trans['week_of_year']=customer_trans['week_of_year'].astype('object')
customer_trans['day_of_week']=customer_trans['day_of_week'].astype('object')
customer_trans['month_info']=customer_trans['month_info'].astype('object')

In [0]:
customer_trans['Total_discount_percent']=[int(100-(customer_trans['effective_price'][i]/customer_trans['selling_price'][i])*100) for i in range(len(customer_trans))]

In [0]:
customer_trans.head()

   customer_id  item_id  quantity  ...  weekend  month_info  Total_discount_percent
0         1501    26830         1  ...        0       start                      30
1         1501    54253         1  ...        0       start                      25
2         1501    31962         1  ...        0       start                      13
3         1501    33647         1  ...        0       start                       0
4         1501    48199         1  ...        0       start                      39

[5 rows x 15 columns]

In [0]:
new_customer_trans=customer_trans[customer_trans['Total_discount_percent']<100]
new_customer_trans.reset_index(drop=True, inplace=True)

In [0]:
new_customer_trans.head()

   customer_id  item_id  quantity  ...  weekend  month_info  Total_discount_percent
0         1501    26830         1  ...        0       start                      30
1         1501    54253         1  ...        0       start                      25
2         1501    31962         1  ...        0       start                      13
3         1501    33647         1  ...        0       start                       0
4         1501    48199         1  ...        0       start                      39

[5 rows x 15 columns]

In [0]:
def myround(x, base=5):
    return base * round(x/base)

new_customer_trans['Total_discount_percent']=[myround(i) for i in new_customer_trans.Total_discount_percent]
new_customer_trans['Total_discount_percent']=new_customer_trans['Total_discount_percent'].astype('object')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
new_customer_trans['Total_coupon_percent']=[int(100-(new_customer_trans['coupon_discount'][i]/new_customer_trans['selling_price'][i])*100) for i in range(len(new_customer_trans))]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
new_customer_trans['Total_coupon_percent']=new_customer_trans['Total_coupon_percent'].astype('object')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
for col in new_customer_trans.columns:
  print('{} column has {} uniuqe value  '.format(col, new_customer_trans[col].nunique()))

customer_id column has 1582 uniuqe value
item_id column has 72674 uniuqe value
quantity column has 9252 uniuqe value
selling_price column has 4917 uniuqe value
other_discount column has 1111 uniuqe value
coupon_discount column has 148 uniuqe value
effective_price column has 7416 uniuqe value
date_day column has 31 uniuqe value
date_month column has 12 uniuqe value
date_year column has 2 uniuqe value
day_of_week column has 7 uniuqe value
week_of_year column has 52 uniuqe value
weekend column has 2 uniuqe value
month_info column has 3 uniuqe value
Total_discount_percent column has 21 uniuqe value
Total_coupon_percent column has 96 uniuqe value

In [0]:
new_customer_trans._get_numeric_data().columns

Index(['customer_id', 'item_id', 'quantity', 'selling_price', 'other_discount',
       'coupon_discount', 'effective_price'],
      dtype='object')

In [0]:
import os 
os.chdir('/content/gdrive/My Drive/')

In [0]:
new_customer_trans.to_csv('new_customer_trans.csv', index=False)

In [0]:
campaign=pd.read_csv('/content/gdrive/My Drive/train_AUpWtIz/train_AUpWtIz/campaign_data.csv')
campaign.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [0]:
campaign['start_date']=pd.to_datetime(campaign['start_date'], infer_datetime_format=False)
campaign['end_date']=pd.to_datetime(campaign['end_date'], infer_datetime_format=False)

In [0]:
campaign['start_day']=[i.day for i in campaign.start_date]
campaign['start_day']=campaign['start_day'].astype('object')

campaign['start_month']=[i.month for i in campaign.start_date]
campaign['start_month']=campaign['start_month'].astype('object')

campaign['start_year']=[i.year for i in campaign.start_date]
campaign['start_year']=campaign['start_year'].astype('object')


campaign['end_day']=[i.day for i in campaign.end_date]
campaign['end_day']=campaign['end_day'].astype('object')

campaign['end_month']=[i.month for i in campaign.end_date]
campaign['end_month']=campaign['end_month'].astype('object')

campaign['end_year']=[i.year for i in campaign.end_date]
campaign['end_year']=campaign['end_year'].astype('object')

In [0]:
campaign['start_day_of_week']=[i.dayofweek for i in campaign.start_date]
campaign['start_week_of_year']=[i.week for i in campaign.start_date]
campaign['start_weekend']=[1 if i>=5 else 0 for i in campaign.start_day_of_week]


campaign['end_day_of_week']=[i.dayofweek for i in campaign.end_date]
campaign['end_week_of_year']=[i.week for i in campaign.end_date]
campaign['end_weekend']=[1 if i>=5 else 0 for i in campaign.end_day_of_week]

In [0]:
helper_2=[]
for i in campaign.start_day:
  if i>10 and i<20:
    helper_2.append('mid')
    
  elif i>20:
    helper_2.append('end')
    
  else:
    helper_2.append('start')


campaign['start_month_info']=helper_2


helper_3=[]
for i in campaign.end_day:
  if i>10 and i<20:
    helper_3.append('mid')
    
  elif i>20:
    helper_3.append('end')
    
  else:
    helper_3.append('start')


campaign['end_month_info']=helper_3

In [0]:
helper_4=[]

for i in range(len(campaign)):
  a=campaign['end_date'][i]-campaign['start_date'][i]
  helper_4.append(a.days)
  
  
campaign['campaign_len']=helper_4

In [0]:
campaign.head()

   campaign_id campaign_type  ... end_month_info campaign_len
0           24             Y  ...          start           60
1           25             Y  ...            end           32
2           20             Y  ...            mid          130
3           23             Y  ...            mid           97
4           21             Y  ...            mid           32

[5 rows x 19 columns]

In [0]:
campaign['start_day_of_week']=campaign['start_day_of_week'].astype('object')
campaign['start_week_of_year']=campaign['start_week_of_year'].astype('object')
campaign['start_weekend']=campaign['start_weekend'].astype('object')


campaign['end_day_of_week']=campaign['end_day_of_week'].astype('object')
campaign['end_week_of_year']=campaign['end_week_of_year'].astype('object')
campaign['end_weekend']=campaign['end_weekend'].astype('object')

In [0]:
campaign.drop(['start_date', 'end_date'], axis=1, inplace=True)

In [0]:
campaign._get_numeric_data().columns

Index(['campaign_id', 'campaign_len'], dtype='object')

In [0]:
# campaign.to_csv('feature_added_campaign.csv', index=False)

In [0]:

customer_demo._get_numeric_data().columns
customer_demo.head()

   customer_id age_range marital_status  ... no_of_children income_bracket age
0            1       70+        Married  ...              0              4  86
1            6     46-55        Married  ...              0              5  49
2            7     26-35        Married  ...              1              3  30
3            8     26-35        Married  ...              2              6  29
4           10     46-55         Single  ...              0              5  50

[5 rows x 8 columns]

In [0]:
new_trans=new_customer_trans.merge(customer_demo,how='left', on= 'customer_id')


for col in new_trans.columns:
  print('{} column has {} uniuqe value and type is {}  '.format(col, new_trans[col].nunique(), new_trans[col].dtype))

customer_id column has 1582 uniuqe value and type is int64
item_id column has 72674 uniuqe value and type is int64
quantity column has 9252 uniuqe value and type is int64
selling_price column has 4917 uniuqe value and type is float64
other_discount column has 1111 uniuqe value and type is float64
coupon_discount column has 148 uniuqe value and type is float64
effective_price column has 7416 uniuqe value and type is float64
date_day column has 31 uniuqe value and type is object
date_month column has 12 uniuqe value and type is object
date_year column has 2 uniuqe value and type is object
day_of_week column has 7 uniuqe value and type is object
week_of_year column has 52 uniuqe value and type is object
weekend column has 2 uniuqe value and type is object
month_info column has 3 uniuqe value and type is object
Total_discount_percent column has 21 uniuqe value and type is object
Total_coupon_percent column has 96 uniuqe value and type is object
age_range column has 6 uniuqe value and type is object
marital_status column has 2 uniuqe value and type is object
rented column has 2 uniuqe value and type is object
family_size column has 5 uniuqe value and type is object
no_of_children column has 4 uniuqe value and type is object
income_bracket column has 12 uniuqe value and type is object
age column has 67 uniuqe value and type is float64

In [0]:
item_data=pd.read_csv('/content/gdrive/My Drive/train_AUpWtIz/train_AUpWtIz/item_data.csv')
item_data.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [0]:
item_data.drop('brand', axis=1, inplace=True)

In [0]:
item_trans_demo=new_trans.merge(item_data, on='item_id', how='left')
print(len(item_trans_demo))

1290587

In [0]:
# item_trans_demo.to_csv('item_tran_demo.csv', index=False)

In [0]:
info=pd.DataFrame()
info['columns']=item_trans_demo.columns
info['unique']=[item_trans_demo[col].nunique() for col in item_trans_demo.columns]
info['type']=[item_trans_demo[col].dtype for col in item_trans_demo.columns]
info.sort_values(by='unique')

                   columns  unique     type
12                 weekend       2   object
18                  rented       2   object
17          marital_status       2   object
9                date_year       2   object
23              brand_type       2   object
13              month_info       3   object
20          no_of_children       4   object
19             family_size       5   object
16               age_range       6   object
10             day_of_week       7   object
21          income_bracket      12   object
8               date_month      12   object
24                category      19   object
14  Total_discount_percent      21   object
7                 date_day      31   object
11            week_of_year      52   object
22                     age      67  float64
15    Total_coupon_percent      96   object
5          coupon_discount     148  float64
4           other_discount    1111  float64
0              customer_id    1582    int64
3            selling_price    4917  float64
6          effective_price    7416  float64
2                 quantity    9252    int64
1                  item_id   72674    int64

In [0]:
item_trans_demo.isnull().sum()

customer_id                    0
item_id                        0
quantity                       0
selling_price                  0
other_discount                 0
coupon_discount                0
effective_price                0
date_day                       0
date_month                     0
date_year                      0
day_of_week                    0
week_of_year                   0
weekend                        0
month_info                     0
Total_discount_percent         0
Total_coupon_percent           0
age_range                 518919
marital_status            518919
rented                    518919
family_size               518919
no_of_children            518919
income_bracket            518919
age                       518919
brand_type                     0
category                       0
dtype: int64

In [0]:
prev, cat_cols =one_hot_encoder(item_trans_demo, nan_as_category= False)

In [0]:
test=pd.read_csv('/content/gdrive/My Drive/train_AUpWtIz/train_AUpWtIz/test_QyjYwdj.csv')
trai=pd.read_csv('/content/gdrive/My Drive/train_AUpWtIz/train_AUpWtIz/train.csv')

train=pd.concat([test, trai], sort=False)
train.reset_index(drop=True, inplace=True)

In [0]:
nc, nc_cols=one_hot_encoder(campaign,nan_as_category=False)

In [0]:
train_nc=train.merge(nc, on='campaign_id', how='left')

In [0]:
num_cols=set(prev.columns)-(set(cat_cols))
num_cols

{'age',
 'coupon_discount',
 'customer_id',
 'effective_price',
 'item_id',
 'other_discount',
 'quantity',
 'selling_price'}

In [0]:
aggregations={'age':['max', 'mean', 'sum', 'var'],
'item_id':['max', 'mean', 'sum', 'var'],
'other_discount':['max', 'mean', 'sum', 'var'],
'effective_price':['max', 'mean', 'sum', 'var'],
'coupon_discount':['max', 'mean', 'sum', 'var'],
'quantity':['max', 'mean', 'sum', 'var'],
'selling_price':['max', 'mean', 'sum', 'var']}

In [0]:
for cat in cat_cols:
  aggregations[cat] = ['mean','count']

In [0]:
ins_agg = prev.groupby('customer_id').agg(aggregations)


ins_agg.to_csv('secondmerge.csv', index=False)

In [0]:
final_test=train_nc.merge(ins_agg, on='customer_id', how='left')
len(final_test.columns)

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

716

In [0]:
os.chdir('/content/gdrive/My Drive/')

In [0]:
final_test.to_csv('final_csv_save.csv', index=False)

In [0]:
import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [0]:
import pandas as pd
import numpy as np

train=pd.read_csv('/content/gdrive/My Drive/null_False_final.csv')

In [0]:
train_df = train[train['redemption_status'].notnull()]
test_df = train[train['redemption_status'].isnull()]

In [0]:
X=train_df.drop('redemption_status', axis=1)
y=train_df['redemption_status']

In [0]:
### Hyperparameter optimization 
import warnings
import time
warnings.filterwarnings("ignore")
import lightgbm as lgb
from bayes_opt import BayesianOptimization
from sklearn.metrics import roc_auc_score

In [0]:
def bayes_parameter_opt_lgb(X, y, init_round=15, opt_round=25, n_folds=5, random_seed=6, n_estimators=10000, learning_rate=0.05, output_process=False):
    # prepare data
    train_data = lgb.Dataset(data=X, label=y, free_raw_data=False)
    # parameters
    def lgb_eval(num_leaves, feature_fraction, bagging_fraction, max_depth, lambda_l1, lambda_l2, min_split_gain, min_child_weight):
        params = {'application':'binary','num_iterations': n_estimators, 'learning_rate':learning_rate, 'early_stopping_round':100, 'metric':'auc'}
        params["num_leaves"] = int(round(num_leaves))
        params['feature_fraction'] = max(min(feature_fraction, 1), 0)
        params['bagging_fraction'] = max(min(bagging_fraction, 1), 0)
        params['max_depth'] = int(round(max_depth))
        params['lambda_l1'] = max(lambda_l1, 0)
        params['lambda_l2'] = max(lambda_l2, 0)
        params['min_split_gain'] = min_split_gain
        params['min_child_weight'] = min_child_weight
        cv_result = lgb.cv(params, train_data, nfold=n_folds, seed=random_seed, stratified=True, verbose_eval =200, metrics=['auc'])
        return max(cv_result['auc-mean'])
    # range 
    lgbBO = BayesianOptimization(lgb_eval, {'num_leaves': (24, 45),
                                            'feature_fraction': (0.1, 0.9),
                                            'bagging_fraction': (0.8, 1),
                                            'max_depth': (5, 8.99),
                                            'lambda_l1': (0, 5),
                                            'lambda_l2': (0, 3),
                                            'min_split_gain': (0.001, 0.1),
                                            'min_child_weight': (5, 50)}, random_state=0)
    # optimize
    lgbBO.maximize(init_points=init_round, n_iter=opt_round)
    
    # output optimization process
    if output_process==True: 
      lgbBO.points_to_csv("bayes_opt_result.csv")
    
    # return best parameters
    return lgbBO.max

opt_params = bayes_parameter_opt_lgb(X, y, init_round=5, opt_round=10, n_folds=5, random_seed=6, n_estimators=100, learning_rate=0.005)

In [0]:
params={'bagging_fraction': 0.8014441163511778,
        'feature_fraction': 0.887446475418968,
        'n_estimators':2000,
         'lambda_l1': 0.0006907693477425925,
         'lambda_l2': 0.00932080129051771,
         'max_depth': 7,
         'min_child_weight': 5.095015806849857,
         'min_split_gain': 0.03327364999635955,
         'num_leaves': 42}

In [0]:
import gc
def kfold_lightgbm(df, num_folds, stratified = False, debug= False):
    # Divide in training/validation and test data
    train_df = train[train['redemption_status'].notnull()]
    test_df = train[train['redemption_status'].isnull()]
    print("Starting LightGBM. Train shape: {}, test shape: {}".format(train_df.shape, test_df.shape))
  
    gc.collect()
    # Cross validation model
    if stratified:
        folds = StratifiedKFold(n_splits= num_folds, shuffle=True, random_state=1001)
    else:
        folds = KFold(n_splits= num_folds, shuffle=True, random_state=1001)
    # Create arrays and dataframes to store results
    oof_preds = np.zeros(train_df.shape[0])
    sub_preds = np.zeros(test_df.shape[0])
    feature_importance_df = pd.DataFrame()
    feats = [f for f in train_df.columns if f not in ['redemption_status','customer_id','coupon_id','item_id', 'campaign_id','index', 'id']]
    
    for n_fold, (train_idx, valid_idx) in enumerate(folds.split(train_df[feats], train_df['redemption_status'])):
        train_x, train_y = train_df[feats].iloc[train_idx], train_df['redemption_status'].iloc[train_idx]
        valid_x, valid_y = train_df[feats].iloc[valid_idx], train_df['redemption_status'].iloc[valid_idx]

#   # LightGBM parameters found by Bayesian optimization

        
        clf =LGBMClassifier(**params)
        
        
        clf.fit(train_x, train_y, eval_set=[(train_x, train_y), (valid_x, valid_y)], 
            eval_metric= 'auc', verbose= 200, early_stopping_rounds= 500)

        oof_preds[valid_idx] = clf.predict_proba(valid_x, num_iteration=clf.best_iteration_)[:, 1]
        sub_preds += clf.predict_proba(test_df[feats], num_iteration=clf.best_iteration_)[:, 1] / folds.n_splits

        fold_importance_df = pd.DataFrame()
        fold_importance_df["feature"] = feats
        fold_importance_df["importance"] = clf.feature_importances_
        fold_importance_df["fold"] = n_fold + 1
        feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
        print('Fold %2d AUC : %.6f' % (n_fold + 1, roc_auc_score(valid_y, oof_preds[valid_idx])))
        del clf, train_x, train_y, valid_x, valid_y
        gc.collect()

    print('Full AUC score %.6f' % roc_auc_score(train_df['redemption_status'], oof_preds))
    # Write submission file and plot feature importance
    if save:
        test_df['redemption_status'] = sub_preds
        test_df[['id', 'redemption_status']].to_csv('AMD5final_submission.csv', index= False)
    display_importances(feature_importance_df)
    return feature_importance_df, test_df[['id', 'redemption_status']]

# Display/plot feature importance
def display_importances(feature_importance_df_):
    cols = feature_importance_df_[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)[:40].index
    best_features = feature_importance_df_.loc[feature_importance_df_.feature.isin(cols)]
    plt.figure(figsize=(8, 10))
    sns.barplot(x="importance", y="feature", data=best_features.sort_values(by="importance", ascending=False))
    plt.title('LightGBM Features (avg over folds)')
    plt.tight_layout()
    plt.savefig('lgbm_importances01.png')

In [0]:
a, b=kfold_lightgbm(train, 20, stratified = True, save= True)